body{
    background-color: cyan;
}
h1{
    text-align: center;
    text-decoration: bold, underline;
    color: blueviolet;
    text-indent: 40px;
}
h2{
    text-align: left;
    color: violet;
    text-transform: initial;
}
h3{
    text-align: left;
    color: red;
    text-transform: initial;
}
p{
    text-align: justify;
    color: black;
    letter-spacing: normal;
}